.home-container {
  width: 80%;
  margin: 0px auto;
  position: relative;
  .search {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
  }
  .home-title {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4)), url("../assets/chicken.webp");
    min-height: 50dvh;
    border-radius: 0px 0px 35px 35px;
    h1 {
      text-align: center;
      padding-top: 70px;
      text-transform: capitalize;
      margin: 0px auto 30px auto;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
    }
  }
  .landing-food-boxes {
    width: 96%;
    background-color: rgb(42, 42, 42);
    margin: 0px auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 80%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
    .container-box {
      background-color: rgb(48, 48, 48);
      border-radius: 20px;
      width: 48%;
      min-height: 55vh;
      overflow: hidden;
      padding: 20px;
      img {
        width: 100%;
        display: block;
        margin: 0px auto;
        height: auto;
        border-radius: 18px;
      }
      p {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 0px;
        margin: 10px 0px;
        border-radius: 5px;
        border-bottom: 2px solid green;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .home-container {
    width: 100%;
    .home-title {
      border-radius: 0%;
    }
    .landing-food-boxes {
      .container-box {
        width: 100%;
      }
    }
  }
}
