.recipe-details-container {
  h1 {
    width: 80%;
    margin: 0px auto;
    margin-top: 30px;
  }
  .tags {
    width: 80%;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    span {
      background-color: rgba(42, 42, 42, 0.6);
      padding: 2px 10px;
      font-size: 0.8rem;
      border-radius: 4px;

      color: rgb(148, 148, 148);
      &:hover {
        background-color: rgb(26, 156, 26);
      }
    }
  }
  .recipe-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgba(42, 42, 42, 0.4);
    border-radius: 12px 12px 0px 0px;

    margin: 10px auto 1px auto;
    .left-image {
      width: 20%;
      padding: 12px;
      img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
      }
    }
    .right-content {
      width: 80%;
      color: rgb(148, 148, 148);
      h3 {
        font-size: 1.5rem;
      }
      span,
      p {
        line-height: 1.5;
        padding: 0px 20px 0px 0px;
        strong {
          color: rgb(23, 222, 23);
        }
      }
    }
  }
  .sub-details {
    width: 80%;
    margin: 0px auto 20px auto;
    background-color: rgba(42, 42, 42, 0.4);
    padding: 12px;
    .informations {
      display: flex;
      flex-wrap: wrap;
      p {
        padding: 0px 20px 0px 0px;
        font-weight: 500;
        line-height: 1.4;
        text-transform: capitalize;
        color: rgb(148, 148, 148);
        span {
          color: rgb(0, 255, 0);
        }
      }
    }
    .ingredients,
    .instructions {
      h3 {
        color: orangered;
        text-transform: capitalize;
        font-size: 1.4rem;
        padding-top: 30px;
      }
      ol {
        padding-left: 30px;
        li {
          line-height: 1.7;
          font-size: 1.1rem;
          color: rgb(148, 148, 148);
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .recipe-details-container {
    width: 100%;
    h1 {
      font-size: 2.5rem;
    }
    .recipe-box {
      flex-direction: column;
      width: 90%;
      .left-image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
      .right-content {
        width: 90%;
        span {
          display: block;
        }
      }
    }
    .sub-details {
      width: 90%;
    }
  }
}
